<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="JanthusModelEntities" connectionString="metadata=res://*/JanthusModel.csdl|res://*/JanthusModel.ssdl|res://*/JanthusModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;server type=1;initial catalog=C:\Dev\Janthus\Root\Janthus.Model.Data\JanthusModel.fdb;data source=127.0.0.1;user id=SYSDBA;password=masterkey&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>